<h2 class="text-center display-6">Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="actions mb-3">
    <%= f.submit "Resend unlock instructions", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
